<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <audio autoplay loop>
        <source src="/audio/aot_music.mp3" type="audio/mpeg">
        Your browser does not support the audio element. 
        </audio>
    <h1>Create Post</h1>
    <form method="post" action="/posts">
        <input placeholder="Enter Username" name="author">
        <br> <br>
        <textarea cols="50" rows="14" placeholder="Enter Content" name="content"></textarea>
        <br>  <br>
        <input placeholder="Link of image" name="image">
        <br>  <br>
        <button type="submit">Submit</button>
    </form>

    
</body>
</html>